.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
}

.nav {
  position: fixed;
  z-index: 300;
  height: 20%;
  }
.logo {
  display: block;
  width: 155px;
  margin: 0, auto;
}
.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 10px, 0, 13px, 0;
}
li.menu {
  font-family: "Rubik", sans-serif;
  color: #4a4a4a;
  list-style: none;
  font-size: 16px;
  padding-left: 20px;
}
#main-container {
  position: absolute;
  top: 50%;
  height: 100vh;
  background-color: #3cdbc0;
  width: 100%;
}
.text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  width: 20%;

 }
.style-text {
  color: #ffffff;
  font-size: 30px;
}
@media all and (min-width:768px){
  .style-text {
    font-size: 40px;
    }
    .menu-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      margin: 10px, 0, 13px, 0;
    }