<header class="page__header">@@label</header>

<header>
  <nav class="nav">
    <a href="https://adalab.es/">
      <img
        src="./assets/images/adalab-logo.png"
        alt="Logo Adalab"
        title="logo Adalab"
        class="logo-adalab"
      />
    </a>
    <ul>
      <li class="menu">
        <a href="https://medium.com/adalab" class="link-menu">Blog</a>
      </li>
      <li class="menu">
        <a href="https://adalab.es/contacto/" class="link-menu"> Contacto </a>
      </li>
    </ul>
  </nav>
</header>
