main {
  height: 80%;
  position: absolute;
  top: 20%;
  width: 100%;
  background-color: #3cdbc0;
}
.style-text {
  text-transform: capitalize;
  font-size: 30px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30%;
}

@media all and (min-width: 768px) {
  .style-text {
    font-size: 40px;
    margin-top: 15%;
  }
}
